/*Styles for elements*/
ul li:before {
    content: '';
    display: inline-block;
    height: 25px;
    width: 35px;
    background-image: url("img.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #F3F3F3;
    margin-left: -35px;
    list-style: none;
}
ul {
	list-style: none;
}


body {
	font-family: papyrus;
	text-align: center;
	background-color: #F3F3F3;
}
/*Parallax Effect*/
.parallax {
  /* The image used */
  background-image: url("malcolm.jpg");

  /* Set a specific height */
  height: 1000px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}